body.loading .hide_until_loaded { display: none; }

html { margin: 0; line-height: 1.1;}

body {
    color: #333;
    margin: 0;
    background-color: #ccc;
    background-image: -webkit-gradient(
     linear, 0% 0%, 100% 0%,
     from(rgba(255,255,255,.0)),
     color-stop(10%, rgba(255,255,255,.5)),
     color-stop(50%, rgba(255,255,255,.75)),
     color-stop(90%, rgba(255,255,255,.5)),
     to(rgba(255,255,255,.0)));
    background-image: -moz-linear-gradient(
        left,
        rgba(255,255,255,0) 0%,
        rgba(255,255,255,.5) 10%,
        rgba(255,255,255,.75) 50%,
        rgba(255,255,255,.5) 90%,
        rgba(255,255,255,0) 100%
    );
}

h1, h2, h3, h4, h5, h6 {line-height: 1.1;}
p {margin: 0 0 .5em 0;}
a {color: #0066CC; text-decoration: none;}
hr {height: 1px; background-color: #E9EAEC; color: #E9EAEC; border: none; padding: 0;margin: 1em 0;}
hr.darker, .modal hr {background-color: #999; color: #999;}
ul, ol {margin-left: 1em; padding-left: 0;}

input[type="text"], input[type="password"], input[type="tel"], input.text, input.title, textarea {font-size: 100%; font-family: inherit; margin: 2px 4px 15px 0; padding: 2px; width: 96%;}
textarea {width: 95%; height: auto;}

/* =========================== */
/* = generally useful        = */
/* =========================== */
.nobold {font-weight: normal;}
.first {margin-left:0;padding-left:0;}
.last {margin-right:0;padding-right:0;}
.top {margin-top:0;padding-top:0;}
.bottom {margin-bottom:0;padding-bottom:0;}


/* ===================== */
/* = layout for viewer = */
/* ===================== */

body#viewer { height: 100%; width: 100%; overflow: hidden; }

/* =========================== */
/* = layout for static pages = */
/* =========================== */

html { margin:0; }
body#page { height: 100%; margin:0; overflow-x: hidden; background: #545454;}
body#page #content { min-height: 100%; }
body#page #header { height: 30px; }

#tools > div { display:none; }
#tools > div.active { display: block; }

#footer {
	clear:both;
    text-align: center;
    color: #bbb;
    z-index: 3;
    bottom: 0;
    width: 100%;
    padding-top: 10px;
}

#footer a { color: white; }

#tools > div.active.bigwhite {
    text-align: center;
    padding-top: 30px;
    font-size: 28px;
    color: white;
}

.ios #tools > div.active.bigwhite {
    text-align: center;
    padding-top: 20px;
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
}




#page h1 {font-weight: bold; color: #fff;}
#page h2, #page h3, #page h4 {color: #333;}

#content {margin:0 auto; width: 950px;}

#content input[type="text"], #content input[type="password"], #content input[type="tel"], #content input.text, #content input.title, #content textarea {font-size: 100%; font-family: inherit; margin: 2px 4px 8px 0; padding: 2px; width: 96%;}


#content input.half, #content input[type="text"].half, #content input[type="password"].half, #content input[type="tel"].half, #content input.text.half, #content input.title.half, #content textarea.half {font-size: 100%; font-family: inherit; margin: 2px 4px 15px 0; padding: 2px; width: 50%;}
#content textarea.half {width: 50%; height: auto;}

.single_column {margin: 0 auto; width:550px; border-top: solid 2px black; }

#content.onecolumn #main_column {float: none; margin: 0 auto;}
#content.onecolumn #sidebar {display: none;}


#main_column {width:600px; float: left; background: #E9E9E9;}

#sys_confirmation {background: #FFFDDA; padding: 15px 20px;}
#sys_confirmation img {height: 32px; width: 32px; background: #777; float: left; margin-right: 10px;}
#sys_confirmation p {margin-bottom: 0; font-weight: bold;}
#sys_confirmation .details {color: #999; margin-bottom: 0; font-weight: normal;}
/* #sys_confirmation div {float: left;} */


/* = #primary - top-most (white) area = */
#primary {background: white; padding: 20px 20px; border-bottom: 1px solid #CACACA;}
#primary h2 {font-size: 24px; font-weight: bold;}
#primary h3 {font-size: 18px; font-weight: bold;}
#primary h4 {font-size: 14px; margin: 5px 0 3px;}
#primary h2 img, #primary h3 img, #primary h4 img {margin: 0 4px -3px 0;}

#primary .op {margin: 0 0 15px;}
#primary #organizer_thumb {float: left; height: 72px; width: 72px;}
#primary #directive_col {float: left; width: 400px;}
#primary #organizer_thumb {margin-right: 15px;}
#primary h3.thanks {font-size: 22px; margin: 15px 0 0 0;}
#primary .status {
  color: #FF763C;
  font-weight: bold;
}


/* = #secondary - bottom (gray) area = */
#secondary {padding: 10px 20px; color: #474848; background-color: #E9E9E9;}
#secondary p {margin: 0 0 .3em 0;}
#secondary h2, #primary h3 {font-size: 18px; font-weight: bold; text-shadow: 0px 1px 0px #fff; margin: 15px 0 10px;}
#secondary .date, #sidebar .date {color: #999999;}
#secondary .event {margin: 0 0 10px; clear: both;}
#secondary .commenter_thumb {height: 48px; width: 48px; margin-right: 15px; background-color: #333; float: left;}
#secondary .comment div {float: left;}


/* = sidebar = */
#content #sidebar {width: 190px; float: left; margin: 15px 0 0 15px;}
#content #sidebar .box {background: #E9E9E9; padding: 12px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;}
#content #sidebar h2 {font-size: 18px; font-weight: bold; text-shadow: 0px 1px 0px #fff; margin-bottom: 6px;}
#content #sidebar p { margin: .3em 0 1em 0; }
#content #sidebar textarea {width: 92%; height: auto;}

#content #sidebar hr { color: #B1B1B1; background-color: #B1B1B1; margin: 4px 0;}

#content #sidebar .callouts p {margin-bottom: 0;}

#content #sidebar #recent_messages p {margin: 0;}
#content #sidebar #recent_messages .comment {overflow-y: auto; max-height: 200px; padding: 5px 0;}
#content #sidebar #recent_messages .pm {margin: 0 0 10px 0;}
#content #sidebar #recent_messages .author {font-weight: bold;}
#content #sidebar #recent_messages hr {margin: 5px 0 0 0;}

#content .button {
  color: #fff;
  text-decoration: none;
  background: #9D9D9D;
  font-weight: bold;
  border: none;
  padding: 4px 15px;
  font-size: 16px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  text-shadow: none;
  -moz-box-shadow:0 1px 1px rgba(0, 0, 0, 0.3);
  box-shadow:0 1px 1px rgba(0, 0, 0, 0.3);}
  
#content .descr {
  color: #999;
}

.signuperror {
  margin-top: 10px;
  color: #FF763C;
}

/* = for join and login pages = */
.squad_details {margin: 0 0 10px;}
.squad_details h2 {margin: 0 0 4px; font-size: 24px; font-weight: bold;}
.squad_details h4 {font-weight: normal; color: #999 !important;}

.squad_details img {
  float: left;
  height: 64px;
  background-color: #bbb;
  margin-right: 10px;
}

.formrow {margin: 0 0 .4em 0}

#joinform {
  float: left;
  width: 230px;
}

#mobile_form {width: 230px;}

.join_lio {
  display: block;
  width: 150px;
  float: left;
  font-size: 18px;
  font-weight: bold;
}

.FB_auth {
  width: 230px;
  min-height: 60px;
  float: left;
  margin-left: 20px;
  padding-left: 20px;
  border-left: 1px solid #E8E8E8;
}

.login_page #login_form {float: left; width: 48%; margin: 25px 0 0 0;}
.login_page #login_form p {margin: 15px 0 5px 0;}
.login_page .sidebar {float: left; width: 48%; margin: 25px 0 0 20px;}

.invite_tool {margin: 20px 0;}
#mobile_form {margin: 20px 0;}
ul.bullet_list {margin-top: 1em}
ul.bullet_list li {margin: 0 0 .6em;}


/* =========================== */
/* = mobile static pages     = */
/* =========================== */

body.mobile #content {width: auto;}
body.mobile #content #main_column {float: none; width: auto;}
body.mobile #content #sidebar {width: auto; float: none; margin-top: 20px; margin-right: 15px;}

body.mobile .modal {width: auto;}
body.mobile .modal #login_form {float: none;}
body.mobile .modal .sidebar {float: none; padding-left: 0;}
body.mobile #primary #organizer_thumb {height: 48px; width: 48px; margin-right: 10px;}
body.mobile #secondary .commenter_thumb {height: 24px; width: 24px; margin-right: 10px;}
body.mobile #primary #directive_col {width: auto;}


/* =========================== */
/* = create squad page       = */
/* =========================== */
#page .create_squad h3 {color: #FF763C}

.create_squad label {display: block; clear: both; margin-top: 10px;}
.create_squad .descr {color: #999;}
.create_squad div.descr {width: 150px; float:left;
line-height:1.2; margin: 2px 0 0 7px;}
.create_squad #create_squad textarea {display: block; width: 330px; float: left;}
.squad_descr {float: left;}
.create_squad #create_squad button {display: block; clear: both; margin: 5px 0 10px 0;}

.whojoins div {display: block;float: left; width: 40%; margin: 5px 0px 0 0;}
.whojoins p {margin-left: 1.4em;}



/* =========================== */
/* = modals                  = */
/* =========================== */

body .hidden_unless_active { display: none; }
body .hidden_unless_active.active { display: block; }
body span.hidden_unless_active.active { display: inline; }

.modal {
  width: 320px;
  font-size: 13px;
  color: #474848;
  background: #C2C2C2;
  border: 4px solid #4D4E4E;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  left:0px;
  right:0px;
  top:0px;
  position: absolute;
  z-index: 11000;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  -webkit-box-shadow: 1px  1px 4px  #000;
  -moz-box-shadow: 1px  1px 4px  #000;
}

.modal_narrow, .modal.narrow {
  width: 240px;
}

.modal_wide, .modal.wide {
  width: 405px;
}

/* to replace .modal .form_fields */
.wide.leftcol { width: 220px; }

/* to replace .modal .sidebar */
.wide.rightcol { width: 165px; }

.modal.superwide {
  width: 600px;
}

/* deprecated */
.modal .form_fields {
  float: left;
  padding: 0px 10px 0 0;
  width: 220px;
}

/* deprecated */
.modal .sidebar {
  float: left;
  width: 165px;
  padding: 10px 0 0 10px;
}

.modal img.closebox {
  position: absolute;
  right: 10px;
  top: 10px;
}

.modal .descr {
  color: #737373;
  font-weight: normal;
}

.modal .moretop {
  margin-top: 10px;
}

.modal p {
  font-size: 13px;
  margin: 0 10px 1em 0;
}

.modal a {
  color: #0066CC;
}

.modal h2 {
  font-size: 18px;
  margin: 0 0 10px 0;
  padding: 0;
  text-shadow: 0px 1px 0px #F3F3F3;
}

.modal h3 {
  margin: 8px 0 5px 0;
  font-size: 13px;
}

.modal form {
  margin: 0 0 10px 0;
}

.modal form ul {
  padding: 0;
  margin: 0 0 2px 0;
}

.modal form li {
  display: block;
  margin-bottom: 5px;
}

.modal input[type=text], .modal textarea {
  width: 93%;
  margin: 2px 0 7px;
}

.modal input[type=text].short { width: 100px; }
.modal input[type=text].medium { width: 160px; }


.modal .notice { color: #CC4900; }

.flash { color: #CC4900; display: none; }

/* =========================== */
/* = modals - specific       = */
/* =========================== */

.login_tool input[type=text].forgot {
  width: 70%;
  margin: 2px 5px 7px 0;
}

.login_tool button {
  margin-bottom: 10px;
}

.current_invitations_tool {
  width: 750px;
}

#current_invitations {
  max-height:400px;
  overflow-y:auto;
}

.current_invitations_tool th {
  text-align: left;
  padding: 0 0 3px 0;
}

.current_invitations_tool table {
  width: 100%;
}

.current_invitations_tool tr {
  border-bottom: 1px solid #777;
}

.current_invitations_tool td {
  padding: 5px 12px 0 0;
}

/* show answers modal */
#answers_for_question {
  margin: 10px 0;
  max-height:400px;
  overflow-y:auto;
}

#answers_for_question .thumb {
  float: left;
  width: 36px;
  margin-right: 10px;
}

#answers_for_question img {
  height: 36px;
  width: 36px;
}

.wish {
  margin-bottom: 7px;
}


.tag .count {
  float: right;
  margin-right:7px;
}

/* chat modal */
.chat_tool input[type="text"] { width: 97%; }

.chat_tool form { margin-bottom: 5px; }

ul#latest_chats {
  list-style: none;
  overflow-y: auto;
  height: 350px;
  margin: 0;
/*
  padding: 10px 0 10px 10px;
  background: #fff;
*/
}

#latest_chats li {
  margin: 0 0 5px 0;
  padding-right: 10px;
  line-height: 1.2;
}
