body.loading .hide_until_loaded { display: none; }

html { overflow: hidden; min-height: 100%; margin: 0; }

body {
    background-color: #ccc;
    background-image: -webkit-gradient(
     linear, 0% 0%, 100% 0%,
     from(rgba(255,255,255,.0)),
     color-stop(10%, rgba(255,255,255,.5)),
     color-stop(50%, rgba(255,255,255,.75)),
     color-stop(90%, rgba(255,255,255,.5)),
     to(rgba(255,255,255,.0)));
    background-image: -moz-linear-gradient(
        left,
        rgba(255,255,255,0) 0%,
        rgba(255,255,255,.5) 10%,
        rgba(255,255,255,.75) 50%,
        rgba(255,255,255,.5) 90%,
        rgba(255,255,255,0) 100%
    );
}

/* =========================== */
/* = layout for static pages = */
/* =========================== */

html { height: 100%; margin:0; }
body#page { height: 100%; margin:0; overflow: auto; }
body#page #tools { min-height: 100%; }
body#page #header { height: 30px; }
body#page #tools { margin-top: -30px; }
body#page #footer { margin-top:-40px; height: 40px; }
body#page #tools > div {
	padding-bottom: 40px;  /* must be same height as the footer */
	padding-top: 50px; /* must be same height as header */
    margin-left: auto;
    margin-right: auto;
}

#tools > div { display:none; }
#tools > div.active { display: block; }

#footer {
	clear:both;
    text-align: center;
    color: #666;
    z-index: 3;
    bottom: 0;
    width: 100%;
}

#footer a { color: #0066CC; }

#tools > div.active.bigwhite {
    text-align: center;
    padding-top: 30px;
    font-size: 28px;
}

.ios #tools > div.active.bigwhite {
    text-align: center;
    padding-top: 20px;
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
}


/* ===================== */
/* = layout for viewer = */
/* ===================== */

body#viewer { height: auto; }

body { position: relative; min-height: 100%; }
