body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
}

em {
  font-style: italic;
}

big {
  font-weight: bold;
}

input.prompting, textarea.prompting {
  color: #bbb;
}

.spacebelow {
  margin-bottom: 10px;
}

.xspace {
  margin-top: 16px;
}

.clear {
  clear:both;
}

hr.spacer {
  color:transparent;
  background:transparent;
  border:none;
}


